body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 20px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    max-width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    background: radial-gradient(circle at top left, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    color: transparent;
}

.inputTextWrapper {
    width: 480px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    background-color: #2b2b2b;
    color: #e0e0e0;
    outline: none;
    transition: border 0.3s ease;
}

textarea:focus {
    border: 1px solid transparent;
    background-image: linear-gradient(#2b2b2b, #2b2b2b), radial-gradient(circle at top left, #ff8a00, #e52e71);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #3a3a3a;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, border 0.3s ease;
    border: 1px solid transparent;
}

button:hover {
    background-color: #575757;
    border: 1px solid transparent;
    background-image: linear-gradient(#575757, #575757), radial-gradient(circle at top left, #ff8a00, #e52e71);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

button:disabled {
    background-color: #3a3a3a;
    cursor: not-allowed;
}

#predictions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#predictions button {
    background-color: #28a745;
    padding: 5px 10px;
    font-size: 14px;
}

#predictions button:hover {
    background-color: #218838;
}

#predictions button:disabled {
    background-color: #ccc;
}
